* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Light.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Medium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-image: url("../images/imagem-hiro-fundo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
header .logoTopo {
  width: 100vw;
  display: flex;
  justify-content: center;
}
header .logoTopo img {
  width: 60px;
}
header .logoTopo .destaqueHiro-fundo {
  background-color: #FADBE3;
  display: none;
}
header .hiro-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 100vh;
}
header .hiro-content h1 {
  margin-bottom: 20px;
}
header .hiro-content .hiro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
}
header .hiro-content .hiro-text p {
  font-weight: 500;
  line-height: 25px;
}
header .hiro-content .hiro-text > span {
  font-size: 16px;
}
header .hiro-content .hiro-img {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
header .hiro-content .hiro-img img {
  align-self: center;
  width: 100%;
  position: relative;
  top: -114px;
}

#hiro {
  background-color: #fef9f1;
}

.destaqueXG {
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  color: #E28D8A;
  font-weight: 700;
}

.destaqueG {
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  color: #FADBE3;
  font-weight: 700;
}

.destaqueTitle {
  font-family: "Quicksand", sans-serif;
  font-size: 22x;
  color: #003C1A;
  font-weight: 700;
}

.green {
  color: #003C1A;
}

section {
  padding: 80px 0;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.destaqueXG,
.destaqueG,
.destaqueTitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 18px;
  }
  .destaqueXG {
    font-size: 28px;
    color: #E28D8A;
  }
  .destaqueG {
    font-size: 26px;
    color: #FADBE3;
  }
  .destaqueTitle {
    font-size: 16px;
    color: #003C1A;
  }
  header {
    height: 100vh;
  }
  header .hiro-content {
    flex-direction: column;
    gap: 50px;
  }
  header .hiro-content .hiro-text {
    justify-content: center;
  }
  header .hiro-content .hiro-text > span {
    font-size: 12px;
  }
  header .hiro-content .hiro-img {
    width: 100%;
    position: relative;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  header .hiro-content {
    flex-direction: column;
  }
  header .hiro-content .hiro-img img {
    width: 77%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 24px;
  }
  .destaqueXG {
    font-size: 32px;
    color: #E28D8A;
  }
  .destaqueG {
    font-size: 28px;
    color: #FADBE3;
  }
  .destaqueTitle {
    font-size: 18px;
    color: #003C1A;
  }
  header {
    height: 100vh;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 16px;
  }
  .destaqueXG {
    font-size: 38px;
    color: #E28D8A;
  }
  .destaqueG {
    font-size: 32px;
    color: #FADBE3;
  }
  .destaqueTitle {
    font-size: 28px;
    color: #003C1A;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0 30px;
  }
  .destaqueXG {
    font-size: 40px;
    color: #E28D8A;
  }
  .destaqueG {
    font-size: 36px;
    color: #FADBE3;
  }
  .destaqueTitle {
    font-size: 28px;
    color: #003C1A;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    padding: 0 40px;
  }
  .destaqueXG {
    font-size: 48px;
    color: #E28D8A;
  }
  .destaqueG {
    font-size: 40px;
    color: #FADBE3;
  }
  .destaqueTitle {
    font-size: 32px;
    color: #003C1A;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

p {
  font-size: 1rem;
  color: rgb(80, 78, 78);
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: 0;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 575px) {
  p {
    font-size: 14px;
    line-height: 20px !important;
    color: rgb(80, 78, 78);
  }
}/*# sourceMappingURL=style.css.map */