* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Light.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Medium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  background-image: url("../images/imagem-hiro-fundo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
header .logoTopo {
  width: 100vw;
  display: flex;
  justify-content: center;
}
header .logoTopo img {
  width: 60px;
}
header .logoTopo .destaqueHiro-fundo {
  background-color: #FADBE3;
  display: none;
}
header .hiro-content {
  display: flex;
  flex-direction: row;
  height: 88vh;
}
header .hiro-content h1 {
  margin-bottom: 10px;
}
header .hiro-content .hiro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  flex: 1;
}
header .hiro-content .hiro-text h1 {
  text-transform: uppercase;
}
header .hiro-content .hiro-text p {
  font-weight: 500;
  line-height: 20px;
}
header .hiro-content .hiro-text > span {
  font-size: 16px;
}
header .hiro-content .hiro-text .hiro-GroupIcons-img {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 30px;
}
header .hiro-content .hiro-text .hiro-GroupIcons-img > img {
  width: 70px;
}
header .hiro-content .hiro-img {
  display: flex;
}
header .hiro-content .hiro-img img {
  width: 100%;
  position: relative;
}

#hiro {
  background-color: #fef9f1;
}

#before-after .content-before-after {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
#before-after .content-before-after > div {
  display: flex;
}
#before-after .content-before-after .content-title-before-after {
  text-align: center;
}
#before-after .content-before-after .content-title-before-after h3 {
  font-size: 16px;
  text-align: center;
  color: #003C1A;
}
#before-after .content-before-after .content-img-before-after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#before-after .content-before-after .content-img-before-after > img {
  flex: 1;
  width: 80%;
}

#about .about-content {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}
#about .about-content .about-img {
  margin-bottom: 30px;
}
#about .about-content .about-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
#about .about-content .about-text h2 {
  padding-top: 30px;
}
#about .about-content .about-text .about-services {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#about .about-content .about-text .about-services ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 20px;
}
#about .about-content .about-text .about-services ul li {
  color: #003C1A;
  font-weight: 500;
  font-size: 1.2rem;
}
#about .about-content .about-text .about-services ul li i {
  margin-right: 5px;
  font-size: 1.3rem;
}
#about .about-content .about-text .about-services .btn-about {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#about .about-content .about-text .about-services .btn-about > a {
  background-color: #AC5E5E;
  color: #fff;
  transition: all 0.5s;
}
#about .about-content .about-text .about-services .btn-about > :hover {
  background-color: #8f5959;
}

#beneficios .beneficios-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#beneficios .beneficios-content .beneficios-card {
  background-color: #FADBE3;
  width: 100%;
  max-width: 400px;
  padding: 30px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
#beneficios .beneficios-content .beneficios-card i {
  color: #AC5E5E;
  font-size: 18px;
}
#beneficios .beneficios-content .beneficios-card p {
  color: #003C1A;
  font-weight: 600;
  font-size: 14px;
}

#services .content-service .service-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
#services .content-service .service-cards .service-card {
  display: flex;
  flex-direction: column;
  background-color: #FADBE3;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  height: auto;
}
#services .content-service .service-cards .service-card h4 {
  text-align: center;
  font-size: 18px;
  color: #003C1A;
}
#services .content-service .service-cards .service-card p > i {
  color: #AC5E5E;
  font-size: 1.3rem;
}

#testemunhas .content-testemunhas .slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: auto;
  overflow: hidden;
}
#testemunhas .content-testemunhas .slider-container button {
  background-color: transparent;
  position: absolute;
  z-index: 999;
}
#testemunhas .content-testemunhas .slider-container #prev {
  left: 0;
}
#testemunhas .content-testemunhas .slider-container #next {
  right: 0;
}
#testemunhas .content-testemunhas .slider-container .slider--width {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 40px 10px;
  transition: transform 1.4s ease;
}
#testemunhas .content-testemunhas .slider-container .slider--width .slider--item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  padding: 15px;
  max-width: 350px;
  min-width: 320px;
  height: inherit;
}
#testemunhas .content-testemunhas .slider-container .slider--width .slider--item .star {
  color: yellow;
}
#testemunhas .content-testemunhas .slider-container .slider--width .slider--item .text-card {
  text-align: justify;
}
#testemunhas .content-testemunhas .slider-container .slider--width .slider--item .text-card i {
  color: #AC5E5E;
}
#testemunhas .content-testemunhas .slider-container .slider--width .slider--item .autor-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
#testemunhas .content-testemunhas .slider-container .slider--width .slider--item .autor-card > img {
  width: 50px;
}
#testemunhas .content-testemunhas .slider-container .slider--width .slider--item .autor-card span {
  font-weight: 500;
}
#testemunhas .content-testemunhas .title-session > h3 {
  text-align: center;
}
#testemunhas .btn-about {
  padding: 70px 0;
}
#testemunhas .btn-about .btn-session {
  background-color: #AC5E5E;
  margin: 0 auto;
  color: #fff;
}
#testemunhas .btn-about .btn-session:hover {
  background-color: #884c4c;
}

#contact .content-contato {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#contact .content-contato .contact-box1,
#contact .content-contato .contact-box2 {
  flex: 1;
}
#contact .content-contato .contact-box1 {
  display: flex;
  flex-direction: column;
}
#contact .content-contato .contact-box1 .box1-row,
#contact .content-contato .contact-box1 .box2-row {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#contact .content-contato .contact-box1 .box1-row h4,
#contact .content-contato .contact-box1 .box2-row h4 {
  color: #AC5E5E;
  font-weight: 700;
  font-size: 18px;
}
#contact .content-contato .contact-box1 .box1-row {
  gap: 30px;
}
#contact .content-contato .contact-box1 .box1-row .box-text1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact .content-contato .contact-box1 .box1-row .box-text1 span {
  font-size: 12px;
}
#contact .content-contato .contact-box1 .box1-row .box-text1 span:nth-child(even) {
  color: #003C1A;
  font-weight: 600;
  font-size: 14px;
}
.division {
  background-image: url("../images/divisor-seccao.jpg");
  background-size: cover;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.division .content-division {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.division .content-division .division-col-1 {
  flex: 1.3;
  text-align: left;
}
.division .content-division .division-col-1 p {
  color: #fff;
  text-transform: uppercase;
}
.division .content-division .division-col-1 h3 {
  color: #FADBE3;
  text-transform: uppercase;
}
.division .content-division .division-col-2 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.btn-session {
  padding: 12px 30px;
  background-color: #FADBE3;
  width: 100%;
  height: 50px;
  max-width: 350px;
  min-width: 250px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  color: #AC5E5E;
  font-weight: 700;
}
.btn-session i {
  font-size: 1.5rem;
  padding-left: 5px;
}
.btn-session:hover {
  background-color: #f6f2f3;
}

.title-session {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
}
.title-session > div {
  display: flex;
  align-items: center;
}
.title-session > div i {
  color: #AC5E5E;
  font-size: 1rem;
}
.title-session > div h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #003C1A;
  position: relative;
  font-size: 18px;
}
.title-session > div > h2::before {
  content: " ";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #E28D8A;
  border-radius: 15px;
}
.title-session h3 {
  font-size: 16px;
  color: #AC5E5E;
}
.title-session > p {
  text-align: start;
  padding-bottom: 0px;
  font-size: 1rem;
}

section {
  padding: 80px 0;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.destaqueXG,
.destaqueG,
.destaqueTitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 18px;
  }
  .destaqueXG {
    color: #E28D8A;
  }
  .destaqueG {
    color: #FADBE3;
  }
  .destaqueTitle {
    color: #003C1A;
  }
  p {
    font-size: 1rem;
  }
  header .hiro-content {
    flex-direction: column;
    height: 100vh;
  }
  header .hiro-content .hiro-text {
    justify-content: flex-start;
  }
  header .hiro-content .hiro-text > span {
    font-size: 12px;
  }
  header .hiro-content .hiro-text h1 {
    font-size: 32px;
  }
  header .hiro-content .hiro-img {
    width: 100%;
    position: relative;
  }
  .division .content-division {
    gap: 18px;
    text-align: center;
  }
  .division .content-division .division-col-1 {
    line-height: 23px;
  }
  .division .content-division .division-col-1 p {
    font-size: 9px;
  }
  .division .content-division .division-col-1 > h3 {
    font-size: 22px;
  }
  .division .content-division .division-col-2 .btn-session {
    width: 80%;
    padding: 5px 30px;
    font-size: 14px;
  }
  #about .about-content .about-img img {
    width: 100%;
  }
  #about .about-content .about-text h2 {
    font-size: 28px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .destaqueXG {
    font-size: 30px;
    color: #E28D8A;
  }
  .destaqueTitle {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
  .btn-session {
    font-size: 1rem;
  }
  header .hiro-content {
    flex-direction: column;
    height: 100vh;
  }
  header .hiro-content .hiro-text {
    padding-bottom: 40px;
  }
  header .hiro-content .hiro-img img {
    width: 85%;
  }
  .division .content-division .division-col-1 > p {
    font-size: 11px;
  }
  .division .content-division .division-col-1 h3 {
    font-size: 26px;
  }
  .division .content-division .division-col-2 {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .about-content .about-img img {
    width: 80%;
  }
  #before-after .content-before-after .content-title-before-after h3 {
    font-size: 18px;
  }
  #before-after .content-before-after .content-img-before-after {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
  }
  #before-after .content-before-after .content-img-before-after > img {
    max-width: 300px;
    min-width: 200px;
  }
  .title-session > div h2 {
    font-size: 22px;
  }
  .title-session > p {
    font-size: 18px;
  }
  #beneficios .beneficios-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #beneficios .beneficios-content .beneficios-card {
    max-width: 340px;
  }
  #services .content-service .service-cards {
    display: flex;
    flex-direction: row;
  }
  #services .content-service .service-cards .service-card {
    max-width: 300px;
    height: 450px;
  }
  #services .content-service .service-cards .service-card > p {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
  p {
    font-size: 18px;
  }
  header .hiro-content {
    flex-direction: column;
    gap: 50px;
    height: 100vh;
  }
  header .hiro-content .hiro-text {
    flex: 1;
    justify-content: center;
  }
  header .hiro-content .hiro-text > span {
    font-size: 14px;
  }
  header .hiro-content .hiro-text > h1 {
    font-size: 40px;
  }
  header .hiro-content .hiro-text > p {
    font-size: 18px;
    line-height: 20x;
  }
  header .hiro-content .hiro-img {
    justify-content: center;
    width: 100%;
    flex: 1;
  }
  header .hiro-content .hiro-img > img {
    width: 60%;
  }
  header .hiro-content .hiro-GroupIcons-img > img {
    width: 80px !important;
  }
  .division .content-division {
    flex-direction: row !important;
  }
  .division .content-division .division-col-1 > p {
    font-size: 12px;
  }
  .division .content-division .division-col-1 > h3 {
    font-size: 28px;
  }
  .division .content-division .division-col-2 {
    justify-content: center;
  }
  #about .about-content {
    flex-direction: row;
    gap: 25px;
  }
  #about .about-content .about-img {
    flex: 1;
  }
  #about .about-content .about-img > img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #about .about-content .about-text {
    flex: 1;
  }
  #about .about-content .about-text h2 {
    font-size: 32px;
  }
  .title-session > div h2 {
    font-size: 22px;
  }
  .title-session > p {
    font-size: 18px;
  }
  #before-after .content-before-after .content-img-before-after {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
  }
  #before-after .content-before-after .content-img-before-after > img {
    max-width: 400px;
    min-width: 250px;
  }
  #beneficios .beneficios-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #beneficios .beneficios-content .beneficios-card {
    max-width: 400px;
  }
  #services .content-service .service-cards {
    flex-direction: row;
  }
  #services .content-service .service-cards .service-card {
    max-width: 350px;
    height: 470px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 16px;
  }
  .destaqueXG {
    font-size: 38px;
    color: #E28D8A;
  }
  .destaqueG {
    font-size: 32px;
    color: #FADBE3;
  }
  .destaqueTitle {
    font-size: 28px;
    color: #003C1A;
  }
  header {
    gap: 0;
  }
  header .hiro-content {
    flex-direction: row;
    height: 100vh;
  }
  header .hiro-content .hiro-text {
    justify-content: center;
  }
  header .hiro-content .hiro-text h1 {
    font-size: 42px;
  }
  header .hiro-content .hiro-text p {
    font-size: 18px;
  }
  header .hiro-content .hiro-img > img {
    width: 100%;
    align-self: flex-end;
  }
  .division .content-division .division-col-1 p {
    font-size: 14px;
  }
  .division .content-division .division-col-1 h3 {
    font-size: 28px;
  }
  .division .content-division .division-col-2 {
    display: flex;
    justify-content: flex-end;
  }
  .title-session > div h2 {
    font-size: 22px;
  }
  .title-session > p {
    font-size: 18px;
  }
  .title-session h3 {
    font-size: 22px;
  }
  #before-after .content-before-after .content-img-before-after {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
  }
  #before-after .content-before-after .content-img-before-after > img {
    max-width: 500px;
    min-width: 300px;
  }
  #beneficios .beneficios-content {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #beneficios .beneficios-content .beneficios-card {
    max-width: 450px;
  }
  #services .content-service .service-cards {
    flex-direction: row;
    justify-content: space-around;
  }
  #services .content-service .service-cards .service-card {
    max-width: 435px;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0 30px;
  }
  .destaqueXG {
    font-size: 40px;
    color: #E28D8A;
  }
  .destaqueG {
    font-size: 36px;
    color: #FADBE3;
  }
  .destaqueTitle {
    font-size: 28px;
    color: #003C1A;
  }
  .division .content-division {
    align-items: center;
  }
  .division .content-division .division-col-1 p {
    font-size: 14px;
  }
  .division .content-division .division-col-1 h3 {
    font-size: 32px;
  }
  .title-session > div h2 {
    font-size: 22px;
  }
  .title-session > p {
    font-size: 18px;
  }
  #beneficios .beneficios-content .beneficios-card {
    max-width: 350px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding: 0 10px;
  }
  .destaqueXG {
    font-size: 48px;
    color: #E28D8A;
  }
  .destaqueG {
    font-size: 40px;
    color: #FADBE3;
  }
  .destaqueTitle {
    font-size: 32px;
    color: #003C1A;
  }
  header .hiro-content .hiro-text h1 {
    font-size: 52px;
  }
  header .hiro-content .hiro-img img {
    width: 100%;
  }
  .division .content-division .division-col-1 p {
    font-size: 14px;
  }
  .division .content-division .division-col-1 h3 {
    font-size: 38px;
  }
  #about .about-content .about-img {
    flex: 1;
  }
  #about .about-content .about-img > img {
    width: 80%;
  }
  .title-session > div h2 {
    font-size: 22px;
  }
  .title-session > p {
    font-size: 18px;
  }
  #beneficios .beneficios-content .beneficios-card {
    max-width: 450px;
  }
}
.destaqueXG,
.destaqueG,
.destaqueTitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.destaqueXG {
  color: #E28D8A;
}

.destaqueG {
  font-size: 28px;
  color: #FADBE3;
}

.destaqueTitle {
  color: #003C1A;
}

.green {
  color: #003C1A;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #fff;
}

p {
  color: #666;
  font-weight: 500;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: 0;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

strong {
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */