// Reset global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Arquivos de import
@import "../scss/_color";
@import "../scss/_fonts";
@import "../scss/_hiro";
@import "../scss/about";
@import "../scss/_mediaQuerys";
@import "../scss/componente";
@import "../scss/destaque";

// Scroll da página
html {
  scroll-behavior: smooth;
}

// Reset
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
p {
  color: rgb(80, 78, 78);
  font-weight: 500;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: 0;
  cursor: pointer;
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
