// Divisor das seções =========================================================
.division {
  background-image: url("../images/divisor-seccao.jpg");
  background-size: cover;
  height: 200px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .content-division {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    .division-col-1 {
      flex: 1.3;
      text-align: left;
      p {
        color: $white;
        text-transform: uppercase;
      }

      h3 {
        color: $Pale-Pink;
        text-transform: uppercase;
      }
    }

    .division-col-2 {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }
}

// Botão das seções ======================================================
.btn-session {
  padding: 12px 30px;
  background-color: $Pale-Pink;
  width: 100%;
  height: 50px;
  max-width: 350px;
  min-width: 250px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;

  color: $Dusty-Rose;
  font-weight: 700;

  i {
    font-size: 1.5rem;
    padding-left: 5px;
  }

  &:hover {
    background-color: #f6f2f3;
  }
}

// title seções  =======================================================
.title-session {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;

  >div{
    display: flex;
    align-items: center;
    i {
      color: $Dusty-Rose;
      font-size: 1rem;
    }
    h2 {
      font-family: "Quicksand", sans-serif;
      font-weight: 700;
      color: $dark-green;
      position: relative;
      font-size: 18px;
    }
  
    & > h2::before {
      content: " ";
      position: absolute;
      bottom: -5px;
      width: 100%;
      height: 1px;
      background-color: $Salmon;
      border-radius: 15px;
    }

  }
  h3{
    font-size: 16px;
    color: $dark-green;
  }
  >p{
    text-align: start;
    padding-bottom: 0px;
    font-size: 1rem;
  }
}
