
.destaqueXG,
.destaqueG,
.destaqueTitle{
 font-family: "Quicksand", sans-serif;
 font-weight: 700;
}


.destaqueXG{
 color: $Salmon;
}
.destaqueG{
 font-size: 28px;
 color: $Pale-Pink;
}
.destaqueTitle{
 color: $dark-green;
}

.green{
  color: $dark-green;
}