header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  background-image: url("../images/imagem-hiro-fundo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;

  .logoTopo {
    width: 100vw;
    display: flex;
    justify-content: center;
    img {
      width: 60px;
    }
    .destaqueHiro-fundo {
      background-color: $Pale-Pink;
      display: none;
    }
  }
  .hiro-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 100vh;
    h1 {
      margin-bottom: 20px;
    }
    .hiro-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      flex: 1;

      h1{
        text-transform: uppercase;
      }
      p {
        font-weight: 500;
        line-height: 25px;
      }
      > span {
        font-size: 16px;
      }
    }

    .hiro-img {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: end;
      img {
        align-self: center;
        width: 100%;
        position: relative;
        top: -94px;
      }
    }
  }
}
#hiro {
  background-color: #fef9f1;
}
