header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-image: url("../images/imagem-hiro-fundo.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  .logoTopo {
    width: 100vw;
    display: flex;
    justify-content: center;
    img {
      width: 60px;
    }
    .destaqueHiro-fundo {
      background-color: $Pale-Pink;
      display: none;
    }
  }
  .hiro-content {
    display: flex;
    flex-direction: row;
    height: 88vh;
    h1 {
      margin-bottom: 10px;
    }
    .hiro-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      flex: 1;

      h1{
        text-transform: uppercase;
      }
      p {
        font-weight: 500;
        line-height: 20px;
      }
      > span {
        font-size: 16px;
      }
      .hiro-GroupIcons-img{
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-top: 30px;
        >img{
          width: 70px;
        }
      }
    }

    .hiro-img {
      display: flex;
      img {
        max-width: 100%;
        height: auto;
        position: relative;
      }
    }
  }
}
#hiro {
  background-color: #fef9f1;
}
