section {
  padding: 80px 0;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.destaqueXG,
.destaqueG,
.destaqueTitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

// Medias Querys
@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 18px;
  }
  .destaqueXG {
    color: $Salmon;
  }
  .destaqueG {
    color: $Pale-Pink;
  }
  .destaqueTitle {
    color: $dark-green;
  }
  p {
    font-size: 1rem;
  }
  // Hiro
  header {
    .hiro-content {
      flex-direction: column;
      height: 100vh;
      .hiro-text {
        justify-content: flex-start;
        > span {
          font-size: 12px;
        }
        h1 {
          font-size: 32px;
        }
      }
      .hiro-img {
        width: 100%;
        position: relative;
      }
    }
  }
  // Divisão
  .division {
    .content-division {
      gap: 18px;
      text-align: center;
      .division-col-1 {
        line-height: 23px;
        p {
          font-size: 9px;
        }
        > h3 {
          font-size: 22px;
        }
      }
      .division-col-2 {
        .btn-session {
          width: 80%;
          padding: 5px 30px;
          font-size: 14px;
        }
      }
    }
  }
  // About
  #about {
    .about-content {
      .about-img {
        img {
          width: 100%;
        }
      }
      .about-text {
        h2 {
          font-size: 28px;
        }
      }
    }
  }
}

// =====================================================

@media (min-width: 577px) and (max-width: 767px) {
  .destaqueXG {
    font-size: 30px;
    color: $Salmon;
  }
  .destaqueTitle {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }

  .btn-session {
    font-size: 1rem;
  }
  // Hiro
  header {
    .hiro-content {
      flex-direction: column;
      height: 100vh;
      .hiro-text {
        padding-bottom: 40px;
      }
      .hiro-img {
        img {
          width: 85%;
        }
      }
    }
  }
  // Divisão
  .division {
    .content-division {
      .division-col-1 {
        > p {
          font-size: 11px;
        }
        h3 {
          font-size: 26px;
        }
      }
      .division-col-2 {
        text-align: center;
        display: flex;
        justify-content: center;
      }
    }
  }
  // About
  .about-content {
    .about-img {
      img {
        width: 80%;
      }
    }
  }
  // before-after
  #before-after {
    .content-before-after {
      .content-title-before-after {
        h3 {
          font-size: 18px;
        }
      }

      .content-img-before-after {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
        > img {
          max-width: 300px;
          min-width: 200px;
        }
      }
    }
  }
  // title seções  =======================================================
  .title-session {
    > div {
      h2 {
        font-size: 22px;
      }
    }
    > p {
      font-size: 18px;
    }
  }
  // Beneficios
  #beneficios {
    .beneficios-content {
      flex-direction: row;
      flex-wrap: wrap;
      .beneficios-card {
        max-width: 340px;
      }
    }
  }

  // services
  #services {
    .content-service {
      .service-cards {
        display: flex;
        flex-direction: row;
        .service-card {
          max-width: 300px;
          height: 450px;
          > p {
            font-size: 1rem;
          }
        }
      }
    }
  }

  // footer

  footer {
    .footer-container {
      .foo-row1 {
        flex-direction: row;
        padding: 0 0 40px 0;
        gap: 50px;
      }

      .foo-row2 {
        flex-direction: row;
        align-items: center;
        .foo-links {
          flex-direction: row;
          flex-wrap: wrap;
          padding: 40px 0;
        }
        .copy {
          text-align: center;
          min-width: 200px;
          > strong {
            font-size: 12px;
          }
        }
      }
    }
  }
}

// ========================================================

@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }

  p {
    font-size: 18px;
  }
  // Hiro
  header {
    .hiro-content {
      flex-direction: column;
      gap: 50px;
      height: 100vh;
      .hiro-text {
        flex: 1;
        justify-content: center;
        > span {
          font-size: 14px;
        }
        > h1 {
          font-size: 40px;
        }
        > p {
          font-size: 18px;
          line-height: 20x;
        }
      }
      .hiro-img {
        justify-content: center;
        width: 100%;
        flex: 1;
        > img {
          width: 60%;
        }
      }
      .hiro-GroupIcons-img {
        > img {
          width: 80px !important;
        }
      }
    }
  }

  // Divisão
  .division {
    .content-division {
      flex-direction: row !important;
      .division-col-1 {
        > p {
          font-size: 12px;
        }
        > h3 {
          font-size: 28px;
        }
      }
      .division-col-2 {
        justify-content: center;
      }
    }
  }
  // About
  #about {
    .about-content {
      flex-direction: row;
      gap: 25px;
      .about-img {
        flex: 1;
        > img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
      .about-text {
        flex: 1;
        h2 {
          font-size: 32px;
        }
      }
    }
  }
  // title seções  =======================================================
  .title-session {
    > div {
      h2 {
        font-size: 22px;
      }
    }
    > p {
      font-size: 18px;
    }
  }

  // before-after
  #before-after {
    .content-before-after {
      .content-img-before-after {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
        > img {
          max-width: 400px;
          min-width: 250px;
        }
      }
    }
  }

  // Beneficios
  #beneficios {
    .beneficios-content {
      flex-direction: row;
      flex-wrap: wrap;
      .beneficios-card {
        max-width: 400px;
      }
    }
  }

  // services
  #services {
    .content-service {
      .service-cards {
        flex-direction: row;
        .service-card {
          max-width: 350px;
          height: 470px;
        }
      }
    }
  }

  // Contato
  #contact {
    .content-contato {
      .contact-box1 {
        flex-direction: row;
        .box1-row {
          .btn-about {
            display: flex;
            margin-top: 40px;
          }
        }
        .box2-row {
          flex: 0.5;
        }
      }
    }
  }

  
  // footer

  footer {
    .footer-container {
      .foo-row1 {
        flex-direction: row;
        padding: 0 0 40px 0;
        justify-content: space-between;
      }

      .foo-row2 {
        flex-direction: row;
        align-items: center;
        .foo-links {
          flex-direction: row;
          flex-wrap: wrap;
          padding: 40px 0;
        }
        .copy {
          text-align: center;
          min-width: 200px;
          > strong {
            font-size: 12px;
          }
        }
      }
    }
  }
}

// ==================================================

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 16px;
  }
  .destaqueXG {
    font-size: 38px;
    color: $Salmon;
  }
  .destaqueG {
    font-size: 32px;
    color: $Pale-Pink;
  }
  .destaqueTitle {
    font-size: 28px;
    color: $dark-green;
  }

  header {
    gap: 0;
    .hiro-content {
      flex-direction: row;
      height: 100vh;
      .hiro-text {
        justify-content: center;

        h1 {
          font-size: 42px;
        }
        p {
          font-size: 18px;
        }
      }
      .hiro-img {
        > img {
          width: 100%;
          align-self: flex-end;
        }
      }
    }
  }
  // Divisor
  .division {
    .content-division {
      .division-col-1 {
        p {
          font-size: 14px;
        }
        h3 {
          font-size: 28px;
        }
      }
      .division-col-2 {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  // title seções  =======================================================
  .title-session {
    > div {
      h2 {
        font-size: 22px;
      }
    }
    > p {
      font-size: 18px;
    }
    h3 {
      font-size: 22px;
    }
  }

  // before-after
  #before-after {
    .content-before-after {
      .content-img-before-after {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
        > img {
          max-width: 500px;
          min-width: 300px;
        }
      }
    }
  }
  // Beneficios
  #beneficios {
    .beneficios-content {
      flex-wrap: wrap;
      justify-content: space-between;
      .beneficios-card {
        max-width: 450px;
      }
    }
  }

  // services
  #services {
    .content-service {
      .service-cards {
        flex-direction: row;
        justify-content: space-around;
        .service-card {
          max-width: 435px;
          height: 500px;
        }
      }
    }
  }

  // Contato
  #contact {
    .content-contato {
      flex-direction: row;
      align-items: center;
      .contact-box1 {
        flex-direction: row;

        .box2-row {
          flex: 0.5;
        }
      }
      .contact-box2 {
        flex: 1;
        iframe {
          height: 400px;
        }
      }
    }
  }
}

// ==================================================

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0 30px;
  }

  .destaqueXG {
    font-size: 40px;
    color: $Salmon;
  }
  .destaqueG {
    font-size: 36px;
    color: $Pale-Pink;
  }
  .destaqueTitle {
    font-size: 28px;
    color: $dark-green;
  }
  // Divisor
  .division {
    .content-division {
      align-items: center;
      .division-col-1 {
        p {
          font-size: 14px;
        }
        h3 {
          font-size: 32px;
        }
      }
    }
  }
  // title seções  =======================================================
  .title-session {
    > div {
      h2 {
        font-size: 22px;
      }
    }
    > p {
      font-size: 18px;
    }
  }
  // Beneficios
  #beneficios {
    .beneficios-content {
      .beneficios-card {
        max-width: 350px;
      }
    }
  }
}

// ================================================

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    padding: 0 10px;
  }

  .destaqueXG {
    font-size: 48px;
    color: $Salmon;
  }
  .destaqueG {
    font-size: 40px;
    color: $Pale-Pink;
  }
  .destaqueTitle {
    font-size: 32px;
    color: $dark-green;
  }
  header {
    .hiro-content {
      .hiro-text {
        h1 {
          font-size: 52px;
        }
      }
      .hiro-img {
        img {
          width: 100%;
        }
      }
    }
  }
  // Divisor
  .division {
    .content-division {
      .division-col-1 {
        p {
          font-size: 14px;
        }
        h3 {
          font-size: 38px;
        }
      }
    }
  }
  // About
  #about {
    .about-content {
      .about-img {
        flex: 1;
        > img {
          width: 80%;
        }
      }
      .about-text {
        // flex: 1;
      }
    }
  }
  // title seções  =======================================================
  .title-session {
    > div {
      h2 {
        font-size: 22px;
      }
    }
    > p {
      font-size: 18px;
    }
  }

  // Beneficios
  #beneficios {
    .beneficios-content {
      .beneficios-card {
        max-width: 450px;
      }
    }
  }
}
