#services {
  .content-service {
    .service-cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      .service-card {
        display: flex;
        flex-direction: column;
        background-color: $Pale-Pink;
        gap: 20px;
        padding: 20px;
        border-radius: 10px;
        max-width: 400px;
        height: auto;
        h4 {
          text-align: center;
          font-size: 18px;
          color: $dark-green;
        }
        p {
          > i {
            color: $Dusty-Rose;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
