#testemunhas {
  .content-testemunhas {
   
    .title-session{
      >h3{
        text-align: center;
      }
    }
  }
  .btn-about{
    padding: 70px 0;
    .btn-session{
      background-color: $Dusty-Rose;
      margin: 0 auto;
      color: $white;
      &:hover{
        background-color: #884c4c;
      }
    }
  }
}
