#testemunhas {
  .content-testemunhas {
   
    .title-session{
      >h3{
        text-align: center;
      }
    }

    .slider-container.two{
      >.slider--width{
        >.slider--item{
          .star{
            display: flex;
            gap: 3px;
            >img{
              width: 20px;
            }
          }
        }
      }
    }
  }
  .btn-about{
    padding: 70px 0;
    .btn-session{
      background-color: $Dusty-Rose;
      margin: 0 auto;
      color: $white;
      &:hover{
        background-color: #884c4c;
      }
    }
  }
}
