#testemunhas {
  .content-testemunhas {
    .slider-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      position: relative;
      height: auto;
      overflow: hidden;
      // overflow: hidden;
      button {
        background-color: transparent;
        position: absolute;
        z-index: 999;
      }
      #prev{
        left: 0;
      }
      #next {
        right: 0;
      }
      .slider--width{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        padding: 40px 10px;
        transition:transform 1.4s ease;
        .slider--item{
          display: flex;
          flex-direction: column;
          gap: 30px;
          box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
            rgba(17, 17, 26, 0.05) 0px 8px 32px;
          padding: 15px;
          max-width: 350px;
          min-width: 320px;
          height: inherit;
          .star {
            color: yellow;
          }
          .text-card {
            text-align: justify;
            i {
              color: $Dusty-Rose;
            }
          }
          .autor-card {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            > img {
              width: 50px;
            }
            span {
              font-weight: 500;
            }
          }
        }
      }
    }
    .title-session{
      >h3{
        text-align: center;
      }
    }
  }

  .btn-about{
    padding: 70px 0;
    .btn-session{
      background-color: $Dusty-Rose;
      margin: 0 auto;
      color: $white;
      &:hover{
        background-color: #884c4c;
      }
    }
  }
}
