.destaqueXG{
 font-family: "Quicksand", sans-serif;
 font-size: 32px;
 color: $Salmon;
 font-weight: 700;
}
.destaqueG{
 font-family: "Quicksand", sans-serif;
 font-size: 28px;
 color: $Pale-Pink;
 font-weight: 700;
}
.destaqueTitle{
 font-family: "Quicksand", sans-serif;
 font-size: 22x;
 color: $dark-green;
 font-weight: 700;
}

.green{
  color: $dark-green;
}