section {
  padding: 80px 0;
}

// Medias Querys
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}


.destaqueXG,
.destaqueG,
.destaqueTitle{
 font-family: "Quicksand", sans-serif;
 font-weight: 700;
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0 18px;
  }
  .destaqueXG {
    font-size: 28px;
    color: $Salmon;
  }
  .destaqueG {
    font-size: 26px;
    color: $Pale-Pink;
  }
  .destaqueTitle {
    font-size: 16px;
    color: $dark-green;
  }
  header {
   height: 100vh;
    .hiro-content {
      flex-direction: column;
      gap: 130px;
      .hiro-text{
       // padding-top: 40px;
       justify-content: center;
       >span{
        font-size: 12px;
       }
      }
      .hiro-img{
       width: 85%; 
       position: relative;
      }
    }
  }
}


@media (min-width:577px) and (max-width: 767px){
 header{

  .hiro-content{
   flex-direction: column;

   .hiro-img{

    img{
     width: 77%;
    }
   }
  }
 }
}



@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 24px;
  }

  .destaqueXG {
    font-size: 32px;
    color: $Salmon;
  }
  .destaqueG {
    font-size: 28px;
    color: $Pale-Pink;
  }
  .destaqueTitle {
    font-size: 18px;
    color: $dark-green;
  }
    header {
    height: 100vh; 
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 16px;
  }
  .destaqueXG {
    font-size: 38px;
    color: $Salmon;
  }
  .destaqueG {
    font-size: 32px;
    color: $Pale-Pink;
  }
  .destaqueTitle {
    font-size: 28px;
    color: $dark-green;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0 30px;
  }

  .destaqueXG {
    font-size: 40px;
    color: $Salmon;
  }
  .destaqueG {
    font-size: 36px;
    color: $Pale-Pink;
  }
  .destaqueTitle {
    font-size: 28px;
    color: $dark-green;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    padding: 0 40px;
  }

  .destaqueXG {
    font-size: 48px;
    color: $Salmon;
  }
  .destaqueG {
    font-size: 40px;
    color: $Pale-Pink;
  }
  .destaqueTitle {
    font-size: 32px;
    color: $dark-green;
  }
}
